{% extends 'layouts/base_background.html' %}
{% load static %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}
  <header class="header-2">
    <div class="page-header min-vh-55 relative" style="background-image: url('{% static 'img/dishes.jpg' %}')">
      <span class="mask bg-gradient-secondary opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">Cooks</h1>
            <p class="lead text-white mt-3">All cooks that are work in the restaurant</p>
            <a href="{% url 'kitchen:cook-create' %}" class="btn btn-dark link-to-page">
              Create
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
  {% include "includes/search.html" %}
  
  {% if cook_list %}
    <table class="table">
      <tr>
        <th>№</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Years of cooking</th>
      </tr>
      {% for cook in cook_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url "kitchen:cook-detail" pk=cook.id %}">{{ cook.username }} {% if user == cook %} (Me){% endif %}</a>
          </td>
          <td>{{ cook.first_name }}</td>
          <td>{{ cook.last_name }}</td>
          <td>{{ cook.years_of_cooking }}</td>
        </tr>
      {% endfor %}

    </table>
  {% else %}
    <p>There are no cooks in the service.</p>
  {% endif %}
  </div>
{% endblock content %}
