{% extends 'layouts/base_background.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}


{% block content %}

  <header class="header-2">
    <div class="page-header min-vh-35 relative" style="background-image: url('{% static 'img/dishes.jpg' %}')">
      <span class="mask bg-gradient-secondary opacity-4"></span>
    </div>
  </header>

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <h1>{{ object|yesno:"Update years of cooking,Create cook" }}</h1>
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
{% endblock content %}
