{% extends 'layouts/base_background.html' %}
{% load static %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}


{% block content %}

  <header class="header-2">
    <div class="page-header min-vh-45 relative" style="background-image: url('{% static 'img/dishes.jpg' %}')">
      <span class="mask bg-gradient-secondary opacity-4"></span>
    </div>
  </header>

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <h1>Delete {{ dish.name }}?</h1>
    <form action="" method="post">
      {% csrf_token %}

      <input type="submit" value="Yes" class="btn btn-danger">
      <a href="{% url 'kitchen:dish-list' %}" class="btn btn-dark link-to-page">
        Cancel
      </a>
    </form>
  </div>
{% endblock content %}
